.cart-item-card {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-item-image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-item-details p {
  margin: 5px 0;
}

.quantity-buttons,
.quantity-custom-button {
  display: flex;
  align-items: center;
}

.quantity-buttons button,
.quantity-custom-button button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 5px;
}

.quantity-buttons button:hover,
.quantity-custom-button button:hover {
  background-color: #45a049;
}

.quantity-custom-button input {
  width: 50px;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.quantity-custom-button input:focus {
  outline: none;
  border-color: #4caf50;
}
